/* Variables declared on root app.css file */
.mainWrapper {
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 50px);
}

.container .row .col {
  flex: 1;
  background-color: var(--white220);
  padding: 1rem 0 0 1rem;
}

.container .row .col2 {
  flex: 4;
  background-color: var(--white);
}
@media screen and (max-width: 800px) {
  .container .row .col {
    flex: 2;
  }
  .container .row .col2 {
    flex: 3;
  }
}
@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
