/* Pagination css */
.layout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--greyGradient);
  color: var(--white);
  margin-bottom: 1rem;
}
.breadcrumb .icon {
  font-size: 2rem;
  color: var(--white220);
  transform: scale(1);
  transition: all 300ms linear;
}
.breadcrumb:hover .icon {
  transform: scale(1.5);
  color: var(--white);
}
.breadcrumbLinksContainer {
  display: flex;
}
.breadcrumbLinksItem {
  list-style: none;
}
.breadcrumbLinksLink {
  text-decoration: none;
  color: var(--white220);
  padding: 0 1.5rem;
  position: relative;
}
.breadcrumbLinksLink::after {
  content: "";
  position: absolute;
  border: 0.7rem solid var(--cyan);
  right: -12px;
  bottom: 2px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.breadcrumbLinksItem:last-child .breadcrumbLinksLink:after {
  content: "";
  border: none;
}
.hideContent {
  visibility: hidden;
}
/* End:Pagination css */
