/* Variables declared on root app.css file */

header {
  height: 5rem;
  width: 100%;
  background: var(--greyLightGradient);
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 0.1rem solid var(--grey200);
}

header > main {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > main > section:first-child {
  font-family: "Oswald", sans-serif;
}
header > main > section:first-child h4 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-left: 1rem;
  font-weight: 700;
}

header > main > section:last-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header > main > section:last-child > div {
  position: relative;
  color: var(--grey);
  margin-left: 1rem;
  cursor: pointer;
}
header > main > section:last-child > div:last-of-type {
  margin-right: 1rem;
}
header > main > section:last-child > div svg {
  font-size: 2.5rem;
}

header > main > section:last-child > div > span {
  position: absolute;
  left: 1rem;
  top: -0.5rem;
  font-size: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.1rem solid var(--blue);
}
header > main > section:last-child > div > img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.1rem solid var(--grey);
  background-color: var(--white);
  padding: 0.5rem;
}
@media screen and (max-width: 350px) {
  header {
    height: 10rem;
    border-bottom: 0;
  }
  header > main {
    flex-direction: column;
    justify-content: flex-start;
  }
  header > main > section:first-child h4 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
    font-weight: 500;
  }
}
