.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--grey150), var(--grey50));
  color: var(--white);
  padding: 2rem;
}
.coffee {
  display: flex;
  align-items: center;
}
.coffee a {
  text-decoration: none;
  color: var(--white);
  border: 1px dashed var(--white220);
  padding: 1rem;
}
.coffee .icon {
  color: var(--coffee);
  text-shadow: 0px 0px 5px #fff;
  font-size: 3rem;
}

@media screen and (max-width: 350px) {
  .footer {
    flex-direction: column;
    padding: 3.5rem 0;
  }
  .coffee {
    margin-top: 2rem;
  }
}
